
.container{
	margin-top:20px;
}
body{

}
.highlight{
	background:lightblue;
}
.container{
display: block;
 margin-left: auto;
 margin-right: auto;

}
.vertSlider{
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
	width: 49% !important;
	display:inline-block !important;
	
}

#singleSliders{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


#songList{
	margin:auto;
	width : 75%;
	display:inline-block;
}
.col-md-4{
	display:inline-block;
}
audio{
	width: 100%;
	margin-top: 10px;
}
#textInput1{
	width:100%;
}
#textInput2{
	width:100%;
}
img#headerIcon{
	margin: 0 auto;
    position: relative;
    display: block;
	width:15%;
}
ul#list {
    border: 1px solid grey;
    border-radius: 10px;
	height: 286px;
    overflow: auto;
}
#buttons{
	margin-top:46px;
}
footer{
	margin-bottom: 20px;
}
#left-right-buttons{
	margin-left: auto;
    display: block;
    width: 100px;
}
button, input, select, textarea{
	margin-bottom: 10px;
}
img#loadingGif {
    width: 100%;
	display:none;
}
.lemons{
	width: 100%;
}
div#silderCol {
    text-align: center;
}